* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: #0d1117;
    --secondary-color: #7263ca;
    --tertiary-color: #161b22;
    --color-text-primary: #24292e;
    --color-text-seconday: #586069;
    --color-border: #eaecef;
    --shadow-small: 0 1px 0 rgba(27, 31, 35, 0.04);
    --font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
}

body{
    /* background-color: var(--primary-color); */
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-primary);
    overflow-x: hidden;
}


.flexbox{
    display: flex;
    align-items: center;
}

.login {
    margin: 15% auto;
    width: 300px;
    height: 150px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--tertiary-color);
    padding: 10px;
}

.login label {
    color: #fff;

}

.login .input {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid #444d56;
    padding: 5px 10px;
    min-height: 28px;
    margin-top: 10px;
    font-weight: 400;
}

.login .input input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background-color: var(--tertiary-color);

}

.login #submit {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: unset;
    outline: none;
    color: var(--tertiary-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


.login #submit:disabled {
    cursor: not-allowed;
}


/* Main part */


#main .navbar{
    width: 100%;
    height: 60px;
    background-color: var(--color-text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#main .navbar .logo {
    fill: #fff;
}

#main .navbar .nav_right .nav_pics {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

#main .navbar .nav_right .nav_pics img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#main #profile {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items:  flex-start;
    flex-flow: row wrap;
    /* margin-top: 40px; */
    padding: 0 40px;
}

#main #profile .left {
    width: 23%;
    height: 400px;
    /* background-color: #fff; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}



#main #profile .left #pics,
#main #profile .left #pics .status {
    position: absolute;
    top: 65%;
    left: 85%;
    margin-bottom: 39px;
    margin-top: 0;
    z-index: 2;
}
#main #profile .left #pics {
    width: 277.88px;
    height: 277.88px;
    border-radius: 100vh;
    -webkit-border-radius: 100vh;
    -moz-border-radius: 100vh;
    -ms-border-radius: 100vh;
    -o-border-radius: 100vh;
    margin-top: -32px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 10%;
    top: 0;
    /*overflow: hidden;
    */
}

#main #profile .left #pics .status {
   
    height: 38px;
    max-width: 38px;
    border-radius: 100vh;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    border: 1px solid var(--color-border);
    -webkit-box-shadow: var(--shadow-small);
    box-shadow: var(--shadow-small);
    margin-top: 20px;
}

#main #profile .left #pics .status .emoji{
    width: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

#main #profile .left #pics .status .emoji_text {
    opacity: 0;
    white-space: nowrap;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: unset;
    font-size: 12px;
}

#main #profile .left #pics .status .emoji_text:hover {
    color: #0366d6;
}

#main #profile .left #pics .status:hover .emoji_text{
    opacity: 1;
    margin-right: 18px;
}

#main #profile .left #pics .status:hover {
    max-width: unset;
    justify-content: space-between;
}

#main #profile .left #pics img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#main #profile .left .info {
    width: 250px;
    margin-top: 265px;
    margin-left: 15px;
   
}

#main #profile .left .info .name {
font-size: 26px;
line-height: 1.25;
font-weight: bold;
}

#main #profile .left .info .username {
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: 24px;
   color: var(--color-text-seconday);
}

.drop_own_caret_dack {
    height: 5px;
    width: 10px;
    display: inline-block;
    background: var(--color-text-seconday);
    margin: 0 4px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}


#main #profile .left .info .bio {
    /* margin-top: 10px; */
     margin: 15px 0;
     line-height: 1.7;
     font-size: 113%;
}

#main #profile .right {
    /* margin-top: 30px; */
    width: 73%;
    padding-right: 30px;
    /* height: 600px; */
    /* overflow-y: auto; */
    /* background-color: #7263ca; */
}

.github_details details {
    pointer-events: visible;
}

@media (max-width: 500px) {
    #main #profile .left,
    #main #profile .right {
        width: 100%;    
    }

    #main #profile{
        padding: 0 10px;
    }


    .search_container{
        margin-right: unset!important;
        margin-bottom: 10px;
    }

    #main #profile .right {
        margin-top: 0;
        padding-right: unset;
    }

}
.hide {
    display: none;
}
.tabs_header {
    width: 100%;
    border-bottom: 1px solid #eaecef;
    margin-top: 10px;
    justify-content: center;
    height: 70px;
     border-bottom: 1px solid var(--color-border);
     padding-top: 0;
     padding-bottom: 0;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 1;
     background-color: #fff;
     align-items: flex-end;
}

.tabs_header .left{
    position: absolute;
    left: 40px;
    bottom: 10px;
}

.tabs_header .left .profile_picture{
    width: 40px;
    height: 40px;
}

.repo_search_header {
    padding: 16px 0;
    border-bottom: 1px solid var(--color-border);
    justify-content: space-between;
    flex-flow: row wrap;
}

.repo_search_header summary {
    margin-right: 5px;
}

.search_container {
    width: 100%;
    margin-right: 20px;
}
.search_container input{
    padding: 6px 12px;
    border: 1px solid var(--color-border);
    width: 100%;
    border-radius: 6px;
    background: #fff;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}


.search_container input:focus {
     border: 1px solid #0366d6;
     -webkit-box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
     box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}


.search_dropdown {
    width: 300px;
    height: auto;
    max-height: 480px;
    margin: 20px 0 16px;
    font-size: 12px;
    border-color: var(--color-border);
    border-radius: 6px;
    box-shadow: var(--shadow-small);
    transform: translateY(calc(100% + 20px));
    -webkit-transform: translateY(calc(100% + 20px));
    -moz-transform: translateY(calc(100% + 20px));
    -ms-transform: translateY(calc(100% + 20px));
    -o-transform: translateY(calc(100% + 20px));
}



.search_dropdown p{
    border-top: 1px solid var(--color-border);
    display: block;
    cursor: pointer;
}

.search_dropdown a:hover a{
    background: #fff!important;
    color: var(--color-text-primary)!important;
}

.close_container{
    justify-content: space-between;
    padding: 2px 10px;
}

.close_container button:hover{
    background-color: #fff!important;
    color: var(--color-border)!important;
}


.search_container input::-webkit-input-placeholder {
    color: #6a737d;
    font-family: inherit;
}

.search_container input:-ms-input-placeholder {
    color: #6a737d;
    font-family: inherit;
}

.search_container input::-ms-input-placeholder {
    color: #6a737d;
    font-family: inherit;
}

.search_container input::placeholder {
    color: #6a737d;
    font-family: inherit;
}

.new_repo{
    background-color: #2ea44f;
    justify-content: space-between;
    color: #fff;

    position: relative;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 10px;
}


.new_repo svg{
    fill: #fff;
}


#main #profile .right .repo {
    padding: 24px 0;
    /* min-height: 70px; */
    border-bottom: 1px solid #eaecef;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.repo_star_button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    padding: 5px 12px;
    border-radius: 6px;
    color: #24292e;
    font-size: 12px;
    -webkit-box-shadow: var(--shadow-small);
    box-shadow: var(--shadow-small);
    cursor: pointer;
    align-self: center;
}

.repo_star_button svg {
    height: 16px;
    margin-right: 4px;
}


.dropdown {
    position: absolute;
    z-index: 90;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(0, calc(100% + 10px));
    transform: translate(0, calc(100% + 10px));
    background-color: #fff;
    color: #24292e;
    border: 1px solid #e1e4e8;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 180px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 20px rgba(19, 19, 19, 0.075);
    box-shadow: 0 0 20px rgba(19, 19, 19, 0.075);
    /* display: none; */
}

.dropdown .modal_section {
    border-bottom: 1px solid var(--color-border);
    margin: 0 0 7px 0;
    padding: 0 0 7px 0;
}

.dropdown .modal_section:last-of-type {
    border-bottom: 1px solid transparent;
    margin: 0;
    padding: 0;
}

.dropdown .borederd_link {
    border: 1px solid var(--color-border);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
}

.dropdown .borederd_link .text {
    margin-left: 6px;
    display: block;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.dropdown .borederd_link * {
    font-size: 12px;
}

.dropdown * {
    color: #24292e!important;
}

.dropdown a,
.dropdown p {
    padding: 8px 16px;
    display: block;
    color: #24292e;
}


.search_dropdown {
    width: 300px;
    height: auto;
    max-height: 480px;
    margin: 20px 0 16px;
    font-size: 12px;
    border-color: var(--color-border);
    border-radius: 6px;
    box-shadow: var(--shadow-small);
    transform: translateY(calc(100% + 20px));
    -webkit-transform: translateY(calc(100% + 20px));
    -moz-transform: translateY(calc(100% + 20px));
    -ms-transform: translateY(calc(100% + 20px));
    -o-transform: translateY(calc(100% + 20px));
}
.nav_search_dropdown {
    width: 100%;
    transform: translateY(calc(100% + 1px));
    -webkit-transform: translateY(calc(100% + 1px));
    -moz-transform: translateY(calc(100% + 1px));
    -ms-transform: translateY(calc(100% + 1px));
    -o-transform: translateY(calc(100% + 1px));
}


.profile_picture {
    height: 20px;
    width: 20px;
    border-radius: 100vh;
    background: #fff;
    border: 1px solid var(--color-border);
}

.repo_name {
    font-weight: 600;
    color: #0366d6;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.repo_desc {
    color: var(--color-text-seconday);
}

.private_tag {
    background: #fff;
    border: 1px solid var(--color-border);
    font-weight: 500;
    color: #586069;
    font-size: 12px;
    padding: 1px 7px;
    border-radius: 100vh;
    margin-left: 10px;
}

.mb-2{
    margin-bottom: 8px!important;
}

.pr-4{
    padding-right: 24px!important;
}

.language {
display: flex;
align-items: center;
margin-right: 10px;
}

.lang_color {
    width: 10px;
    height: 10px;
    border-radius: 100vh;
    -webkit-border-radius: 100vh;
    -moz-border-radius: 100vh;
    -ms-border-radius: 100vh;
    -o-border-radius: 100vh;
    margin-right: 6px;
}


.repo .repo_footer .action_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 18px;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.repo .repo_footer .action_button:hover,
.repo .repo_footer .action_button:hover * {
    color: #0366d6;
}

.repo .repo_footer .action_button svg {
    width: 16px;
    margin: 0 5px;
}

.repo .repo_footer .action_button path {
    fill: currentColor;
}



.app_page_loader {
    min-height: calc(100vh - 90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app_page_loader.hide {
    display: none;
}

.app_page_loader svg {
    height: 100px;
    height: 100px;
    -webkit-animation-name: breathe;
    animation-name: breathe;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.app_page_loader svg path {
    fill: #24292e;
}


.repo_app_header-user {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.repo_app_header-user.hide {
    opacity: 0;
}

@media (max-width: 863px) {
    .repo_app_header-user {
        display: none;
    }
}

.repo_app_header-user .user_profile_picture {
    height: 33px;
    height: 33px;
    border-radius: 100vh;
}

.repo_app_header-user .name {
    margin: 0 10px;
    font-weight: 600;
}

